<tr>
  <td><h4><%= route.name %></h4></td>
  <td><%= link_to t('common.show'), [:admin, route], class: "btn btn-info" %></td>
  <td><%= link_to t('common.edit'), edit_admin_route_path(route), class: "btn btn-warning" %></td>
  <td><%= link_to t('common.delete'), [:admin, route], class: "btn btn-danger", method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>
