<div class="page-header">
  <h1><%= t('.title') %> <small></small></h1>
</div>

<%= render 'form', route: @route %>

<div class="row">
  <div class="col-md-2">
    <%= link_to t('common.show'), [:admin, @route], class: "btn btn-info" %>  </div>
  <div class="col-md-2">
    <%= link_to t('common.back'), admin_routes_path, class: "btn btn-primary" %>
  </div>
</div>
