<div class="page-header">
  <h1>Редактирование билета <small></small></h1>
</div>

<%= render 'form', ticket: @ticket %>

<%= link_to 'Показать', [:admin, @ticket] %> |
<%= link_to 'Назад', admin_tickets_path %>
