<h3>Кол-во верхних мест:</h3>
<%= @wagon.top_places %>

<h3>Кол-во нижних мест:</h3>
<%= @wagon.lower_places %>

<h3>Кол-во боковых верхних мест:</h3>
<%= @wagon.side_top_places %>

<h3>Кол-во боковых нижних мест:</h3>
<%= @wagon.side_lower_places %>
