<tr>
  <td><h4><%= train.number %></h4></td>
  <td><%= link_to t('common.show'), [:admin, train], class: "btn btn-info" %></td>
  <td><%= link_to t('common.edit'), edit_admin_train_path(train), class: "btn btn-warning" %></td>
  <td><%= link_to t('common.delete'), [:admin, train], class: "btn btn-danger", method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>
