<p>Здравствуйте, <%= @resource.name %>!</p>

<p>Вы или кто-то другой запросил восстановление пароля к вашему аккаунту. Если это были вы, то проследуйте по ссылке.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это были не вы, то просто игнорируйте это письмо.</p>
<p>Ваш пароль не будет изменен пока вы не проследуете по ссылке.</p>
