<tr>
  <td><%= wagon_type.title %></td>
  <td><%= wagon_type.wagon_type %></td>
  <td><%= link_to t('common.edit'), edit_admin_wagon_type_path(wagon_type) %></td>
  <td><%= link_to t('common.delete'), [:admin, wagon_type], method: :delete, data: { confirm: t('common.confirm') } %></td>
</tr>
