<p>Здравствуйте, <%= @user.name %>!</p>

<p>Совсем недавно вы приобрели в нашем сервисе билет по маршруту "<%= @ticket.route_name %>".</p>
<p>Простотреть его вы можете <%= link_to "здесь", @ticket %>.</p>
<p>Список всех ваших билетов <%= link_tu "здесь", tickets_url %>.</p>
